@import "tailwindcss";
@source "../react-components";
@source "../../lib/fly_code_web";

@theme inline {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(14.1% 0.005 285.82);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(14.1% 0.005 285.82);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(14.1% 0.005 285.82);
  --color-primary: oklch(20.5% 0.006 285.89);
  --color-primary-foreground: oklch(98.5% 0 0);
  --color-secondary: oklch(96.1% 0.003 264.54);
  --color-secondary-foreground: oklch(20.5% 0.006 285.89);
  --color-muted: oklch(96.1% 0.003 264.54);
  --color-muted-foreground: oklch(55.2% 0.016 285.94);
  --color-accent: oklch(96.1% 0.003 264.54);
  --color-accent-foreground: oklch(20.5% 0.006 285.89);
  --color-destructive: oklch(57.7% 0.245 27.33);
  --color-destructive-foreground: oklch(100% 0 0);
  --color-border: oklch(89.8% 0.013 286.07);
  --color-input: oklch(89.8% 0.013 286.07);
  --color-ring: oklch(20.5% 0.006 285.89);
  --color-chart-1: oklch(64.6% 0.222 41.12);
  --color-chart-2: oklch(60% 0.118 184.7);
  --color-chart-3: oklch(39.8% 0.07 227.39);
  --color-chart-4: oklch(82.8% 0.189 84.43);
  --color-chart-5: oklch(76.9% 0.188 70.08);
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

.dark {
  --color-background: oklch(14.1% 0.005 285.82);
  --color-foreground: oklch(98.5% 0 0);
  --color-card: oklch(14.1% 0.005 285.82);
  --color-card-foreground: oklch(98.5% 0 0);
  --color-popover: oklch(14.1% 0.005 285.82);
  --color-popover-foreground: oklch(98.5% 0 0);
  --color-primary: oklch(98.5% 0 0);
  --color-primary-foreground: oklch(20.5% 0.006 285.89);
  --color-secondary: oklch(26.9% 0.015 285.89);
  --color-secondary-foreground: oklch(98.5% 0 0);
  --color-muted: oklch(26.9% 0.015 285.89);
  --color-muted-foreground: oklch(70.7% 0.015 286.07);
  --color-accent: oklch(26.9% 0.015 285.89);
  --color-accent-foreground: oklch(98.5% 0 0);
  --color-destructive: oklch(57.7% 0.245 27.33);
  --color-destructive-foreground: oklch(100% 0 0);
  --color-border: oklch(26.9% 0.015 285.89);
  --color-input: oklch(26.9% 0.015 285.89);
  --color-ring: oklch(83.9% 0.013 286.07);
  --color-chart-1: oklch(48.8% 0.243 264.38);
  --color-chart-2: oklch(69.6% 0.17 162.48);
  --color-chart-3: oklch(76.9% 0.188 70.08);
  --color-chart-4: oklch(62.7% 0.265 303.9);
  --color-chart-5: oklch(64.5% 0.246 16.44);
}

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session], [data-phx-teleported-src] { display: contents }

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
